* {
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    background: #12181b;
    color: #fff;
    display: flex;
    font-family: sans-serif;
    justify-content: center;
}

#container {
    background: #2a2e35;
    box-shadow: 0px 3px 8px 1px #010101;
    margin: 50px;
    padding: 50px;
    border-radius: 25px;
    width: 75%;
}

#title {
    text-align: center;
}

#first-line {
    display: flex;
    margin-top: 50px;
}

#first-line div {
    margin-right: 50px;
}

#settings div {
    display: flex;
    margin-bottom: 25px;
}

label {
    color: #b2becd;
    font-size: 20px;
    margin-right: 20px;
}

input {
    background: none;
    font-size: 16px;
    padding: 6px 8px;
    border: 2px solid;
    border-radius: 3px;
    transform: translateY(-15%);
    color: #fff;
}

#axis input {
    width: 100px;
}

#settings #last {
    margin-top: -35px;
}

#settings div #inputPoint {
    margin-top: 8.4px;
}

#calculate:hover, #stop:hover {
    background: #32373f;
}

#legend-container ul {
    display: flex;
}

#legend-container li {
    display: flex;
    margin-left: 10px;
    cursor: pointer;
    align-items: center;
}

#legend-container ul li span {
    background: #8DB3FA;
    border: 2px #456BB4 solid;
    border-radius: 3px;
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

#legend-container ul li:first-child span {
    background: #b0ffec;
    border: 2px #8dfabc solid;
}

#legend-container ul li p {
    color: #b2becd;
}

.diagram {
    width: 500px;
    height: 500px;
}

#progress {
    margin-top: 20px;
}

#progress #bar {
    background-color: #12181B;
    border-radius: 5px;
    height: 25px;
    width: 200px;
}

#progress #bar div {
    background-color: #8DB3FA;
    border-radius: 5px;
    margin-top: 5px;
    height: 100%;
    width: 0%;
}

#progress #bar div p {
    margin-left: 5px;
    transform: translateY(25%);
}

#tables {
    display: none;
    margin-top: 50px;
    justify-content: center;
}

#tables div {
    margin: 10px
}

#tables h2 {
    text-align: center;
    margin: 5px;
}

#tables table {
    background-color: #1a2125;
}

#tables table th {
    background: #373b42;
    text-align: center;
    font-size: 14px;
    padding: 10px;
}

#tables table td {
    background: #2a2e35;
    text-align: center;
    color: #b2becd;
    padding: 5px;
}

@media (max-width: 1250px) {
    #container {
        width: 62%;
    }

    #submit {
        font-size: 6px;
    }
}

@media (max-width: 700px) {
    h1 {
        margin-top: -15px;
        font-size: 28px;
    }

    div {
        font-size: 20px;
        margin-bottom: -10px;
    }

    #reset {
        margin-bottom: 5px;
    }

    #container {
        width: 62%;
        padding: 40px 25px 50px 25px;
    }
}

@media (max-width: 500px) {
    h1 {
        margin-top: -20px;
        margin-bottom: -10px;
        font-size: 20px;
    }

    div {
        font-size: 16px;
        margin-bottom: -20px;
    }

    #reset {
        margin-bottom: 12px;
    }

    #container {
        width: 70%;
        padding: 40px 15px 50px 15px;
    }
}